

body {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #1e1e1e;
  color: #d4d4d4;
  font: normal 16px Verdana, Arial, sans-serif;
}

button {
  border: none;
  appearance: none;
  transition: all ease-in 0.1s;
  cursor: pointer;
  border: 2px solid #575757;
  padding: 2px;
  border-radius: 8px;
  background: #1e1e1e;
  color: #d4d4d4;
}

button:hover {
  background: #3f3f46;
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
}



@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
